<body class="profile">
<div class="loading-page"></div>
<main>
	<div class="parallax-container">
    	<div class="parallax"><img src="build/img/stock/cover-user.jpg" class="width-full" ></div>
    	<div class="text text-center">
    		<h1> Bernardus Billy Tjiptoning </h1>
    	</div>
    </div>
	<div class="container">
		<div class="row">
			<div class="col-xs-12 col-sm-3 col-md-3 col-lg-3 noPadding">
				<div class="wrapper-left">
					<div class="side-pannel">
						<a href="profile.html" class="tab"><span class="fa fa-home"></span> Home</a>
						<a href="favorite.html" class="tab chosen"><span class="fa fa-star"></span> Favorite</a>
						<a href="/waitlists"class="tab"><span class="fa fa-hourglass"></span> Waitlist</a>
						<a href="delivery.html"class="tab"><span class="fa fa-rocket"></span> Delivery</a>
						<a href="payment.html"class="tab"><span class="fa fa-credit-card"></span>Payment</a>
						<a href="/setting"class="tab"><span class="fa fa-cog"></span>Settings</a>
					</div>
				</div>
			</div>
			<div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
				<div class="wrapper-right">
					<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
						<div class="header text-center">
							Favorite Restaurant<br>
						</div>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
						<a href="#">
							<div class="box-option">
								<img src="build/img/stock/restaurant.jpg"/>
								<div class="text">
									Restaurant #1
								</div>
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
						<a href="#">
							<div class="box-option">
								<img src="build/img/stock/restaurant.jpg"/>
								<div class="text">
									Restaurant #2
								</div>
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
						<a href="#">
							<div class="box-option">
								<img src="build/img/stock/restaurant.jpg"/>
								<div class="text">
									Restaurant #3
								</div>
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
						<a href="#">
							<div class="box-option">
								<img src="build/img/stock/restaurant.jpg"/>
								<div class="text">
									Restaurant #4
								</div>
							</div>
						</a>
					</div>
					<div class="col-xs-6 col-sm-6 col-md-4 col-lg-4">
						<a href="#">
							<div class="box-option">
								<img src="build/img/stock/restaurant.jpg"/>
								<div class="text">
									Restaurant #5
								</div>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
	</div>
</main>