<body class="profile">
<div class="loading-page"></div>
<main>
    <div class="parallax-container">
        <div class="parallax"><img src="build/img/stock/cover-user.jpg" class="width-full" ></div>
        <div class="text text-center">
            <h1> <%= current_user.name%> </h1>
        </div>
    </div>
    <div class="container">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="wrapper-left">
                <div class="side-pannel">
                    <a href="profile" class="tab chosen"><span class="fa fa-home"></span> Home</a>
                    <a href="favorite" class="tab"><span class="fa fa-star"></span> Favorite</a>
                    <a href="/waitlists"class="tab"><span class="fa fa-hourglass"></span> Waitlist</a>
                    <a href="delivery"class="tab"><span class="fa fa-rocket"></span> Delivery</a>
                    <a href="payment"class="tab"><span class="fa fa-credit-card"></span>Payment</a>
                    <a href="/setting"class="tab"><span class="fa fa-cog"></span>Setting</a>
                </div>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="wrapper-right">
                <div class="row">
                    <div class="col-xs-offset-3 col-xs-6 col-sm-offset-3 col-sm-6 col-md-offset-4 col-md-4 col-lg-offset-4 col-lg-4">
                        <!-- <img src="build/img/stock/profile.jpg" class="profile-photo"/> -->
                        <%= image_tag current_user.avatar.url(:medium), :class => 'profile-photo' %>
                    </div>
                </div>
                <div class="row">
                    <div class="col-xs-12 col-xs-offset-0 col-sm-offset-2 col-sm-8 col-md-offset-3 col-md-6 col-lg-offset-3 col-lg-6">
                        <% if flash[:notice] != nil %>
                            <div class="alert alert-danger">
                                <%= flash[:notice] %>
                            </div>
                        <% end %>
                        <div class="information-wrapper text-center">
                            <div class="sub-header">Full Name.</div>
                            <div id="name" class="content"><%= current_user.name %></div>

                            <div class="sub-header">About me.</div>
                            <div class="content content-small">Lorem ipsum dolor sit amet, no sea aeque essent, odio nisl facer an vis. Pri sale sapientem ea. At timeam volutpat rationibus duo, qualisque accusamus nam ne, augue fastidii periculis te vis. Quo eu agam phaedrum sensibus. Solet altera mea ea, vocibus expetenda maluisset at sed.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>