<body class="restaurant">
<div class="loading-page"></div>
<main>
    <div class="parallax-container">
        <div class="parallax"><img src="build/img/stock/restaurant2.jpg" class="width-full" ></div>
        <div class="text text-center">
            <h1> ~ Bent Fork ~ </h1>
        </div>
    </div>
    <section class="content">
        <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
            <div class="wrapper-left text-center">
                <a href="signup.html" class="btn btn-bytlyn">Waitlist</a><br>
                <a href="signup.html" class="btn btn-bytlyn">Delivery</a><br>
                <a href="http://www.opentable.com/" class="btn btn-bytlyn">Reservation</a><br>
            </div>
        </div>
        <div class="col-xs-12 col-sm-9 col-md-9 col-lg-9">
            <div class="wrapper-right text-center">
                <div class="carousel">
                    <div class="thumbnail"><img src="build/img/stock/food1.jpg"/></div>
                    <div class="thumbnail"><img src="build/img/stock/food2.jpg"/></div>
                    <div class="thumbnail"><img src="build/img/stock/food3.jpg"/></div>
                    <div class="thumbnail"><img src="build/img/stock/food4.jpg"/></div>
                    <div class="thumbnail"><img src="build/img/stock/food5.jpg"/></div>
                </div>
                <!-- <div class="rating">
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                    <span>☆</span>
                </div> -->
                <img src="build/img/stock/logo-restaurant.jpg" class="r-logo"/>
                <div class="rating-restaurant text-md">
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star"></span>
                    <span class="fa fa-star-o"></span>
                </div>
                <div class="r-info text-sm text-center">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
            </div>
        </div>
    </section>
</main>