<body class="signup">
<main>
	<div class="container">
        <div class="text-left">
            <h1>Sign Up</h1>
        </div>
		<div class="row">
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<a href="signup-user.html" class="box-option">
                    <img src="build/img/stock/user.jpg">
					<div class="text">User</div>
				</a>
			</div>
			<div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
				<a href="signup-restaurant.html" class="box-option">
                    <img src="build/img/stock/restaurant.jpg">
					<div class="text">Restaurant</div>
				</a>
			</div>
		</div>
	</div>
</main>